# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/

# Jupyter
*.ipynb_checkpoints

# Neo4j import logs
logs/

# Data files
*.csv
*.json
*.jsonl
data/raw/
data/parsed/
data/processed/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.log
